
header{
    background-image: url(assets/images/hero_1.jpg);
    background-size: cover;
    background-position: center;
    min-height: 625px;
   background-repeat: no-repeat;
}
body{
        font-family: 'Cinzel', ;
}
.logo{
    padding-left: 20px;
}
nav{
    padding-top: 10px;
    padding-right: 20px;
    font-size: 50px;
}
.sidenav{
    width: 30%;
    transition: width .15s;
}
.cool-link {
    text-decoration: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #04D2C8;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    transition: width .5s;
}

@media  screen and (min-width: 372px){
    .cont{
        margin-top: 50px;
    }
}


b{
    text-shadow: 1px 1px #FDAE5C;
}
.modal{
    height: 600px !important;
}